{% extends "base.html" %}
{% block head %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.5.0/chart.umd.min.js"
            integrity="sha512-Y51n9mtKTVBh3Jbx5pZSJNDDMyY+yGe77DGtBPzRlgsf/YLCh13kSZ3JmfHGzYFCmOndraf0sQgfM654b7dJ3w=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"
            integrity="sha512-UXumZrZNiOwnTcZSHLOfcTs0aos2MzBWHXOHOuB0J/R44QB0dwY5JgfbvljXcklVf65Gc4El6RjZ+lnwd2az2g=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-zoom/2.2.0/chartjs-plugin-zoom.min.js"
            integrity="sha512-FRGbE3pigbYamZnw4+uT4t63+QJOfg4MXSgzPn2t8AWg9ofmFvZ/0Z37ZpCawjfXLBSVX2p2CncsmUH2hzsgJg=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <style>
        #contentContainer {
            padding: 1vh 1vw;
        }
        #shopChart {
            max-height: 75vh;
        }
        @media screen and (orientation:landscape) {
            footer, .title {
                display: none;
            }
        }
    </style>
{% endblock %}
{% block content %}
    <div id="nav">
        <a href="{{ url_for('render_index') }}">See Current Temperature</a>
    </div>
    <div id="contentContainer">
        <canvas id="shopChart"></canvas>
    </div>
    <script>
        const ctx = document.getElementById('shopChart').getContext('2d');
        const myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: {{ labels | tojson }},
                datasets: [
                    {% for key, value in datasets.items() %}
                        {
                    label: "{{ key }}",
                    data: {{ value | tojson }},
                    fill: false,
                    hidden: {{ "false" if key in default_years else "true" }},
                    borderColor: "{{colors[key]}}",
                    pointHitRadius: 10
                    },
                    {% endfor %}
                ]
            },
            options: {

                plugins: {
                    zoom: {
                        limits: {
                            x: {
                                minRange: 3
                            }
                        },
                        zoom: {
                            wheel: {
                                enabled: true,
                            },
                            pinch: {
                                enabled: true
                            },
                            mode: 'x',
                        },
                        pan: {
                            enabled: true,
                            mode: 'x'
                        }
                    }
                }
            }
        });

    </script>
{% endblock %}
{% block footer %}
    Horizontal View suggested for mobile
{% endblock %}
