{% extends "base.html" %}
{% block head %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.0/chart.min.js"
            integrity="sha512-asxKqQghC1oBShyhiBwA+YgotaSYKxGP1rcSYTDrB0U6DxwlJjU59B67U8+5/++uFjcuVM8Hh5cokLjZlhm3Vg=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/hammerjs@2.0.8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-zoom/1.1.1/chartjs-plugin-zoom.min.js"
            integrity="sha512-NxlWEbNbTV6acWnTsWRLIiwzOw0IwHQOYUCKBiu/NqZ+5jSy7gjMbpYI+/4KvaNuZ1qolbw+Vnd76pbIUYEG8g=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <style>
        #contentContainer {
            padding: 1vh 1vw;
        }
        #shopChart {
            max-height: 75vh;
        }
        @media screen and (orientation:landscape) {
            footer, .title {
                display: none;
            }
        }
    </style>
{% endblock %}
{% block content %}
    <div id="nav">
        <a href="{{ url_for('render_index') }}">See Current Temperature</a>
    </div>
    <div id="contentContainer">
        <canvas id="shopChart"></canvas>
    </div>
    <script>
        const ctx = document.getElementById('shopChart').getContext('2d');
        const myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: {{ labels | tojson }},
                datasets: [
                    {% for key, value in datasets.items() %}
                        {
                    label: "{{ key }}",
                    data: {{ value | tojson }},
                    fill: false,
                    borderColor: "{{colors[key]}}",
                    pointHitRadius: 10,
                    responsive: true,
                    maintainAspectRatio: false
                    },
                    {% endfor %}
                ]
            },
            options: {

                plugins: {
                    zoom: {
                        limits: {
                            x: {
                                minRange: 3
                            }
                        },
                        zoom: {
                            wheel: {
                                enabled: true,
                            },
                            pinch: {
                                enabled: true
                            },
                            mode: 'x',
                        },
                        pan: {
                            enabled: true,
                            mode: 'x'
                        }
                    }
                }
            }
        });

    </script>
{% endblock %}
{% block footer %}
    Horizontal View suggested for mobile
{% endblock %}
