<!DOCTYPE html>
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<html lang="en-us">
  <head>
    <title>How Hot Is the Shop</title>
    <style>
    </style>
  </head>
  <body>
    <div id="contentContainer">
        <div id="shopContainer">
            <h1>Shop</h1>
            <div>
                <span>Temperature:</span> <span>{{ shop_temp.temperature }}</span>
            </div>
            <div>
                <span>Feels Like:</span> <span>{{ weather.feels_like}}</span>
            </div>
            <div>
                <span>Humidity:</span> <span>{{ shop_temp.humidity }}</span>
            </div>
            <div>
                <span>Measured At:</span> <span>{{ shop_temp.formatted_eastern_time() }}</span>
            </div>
        </div>
        <div id="weatherContainer">
            <div>
                {{ current_date }}
            </div>
            <h1>Outside</h1>
            <div>
                {{ weather.description.title() }}
            </div>
            <img alt="{{ weather.description.title() }}" src="https://openweathermap.org/img/wn/{{ weather.icon_code }}@2x.png">
            <div>
                <span>Temperature:</span> <span>{{ weather.temperature }}</span>
            </div>
            <div>
                <span>Feels Like:</span> <span>{{ weather.feels_like }}</span>
            </div>
            <div>
                <span>Humidity:</span> <span>{{ weather.humidity }}</span>
            </div>
        </div>
    </div>
  </body>
</html>
