{% extends "base.html" %}
{% block head %}
    <style>
        .temperature {
            font-size: 5em;
        }

        #contentContainer {
            padding: 1vh;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
        }

        .location {
            font-family: 'Baloo 2', serif;
            display: grid;
            grid-template-columns: 1fr 1fr;
            justify-items: center;
            background: #45A29E;
            border-radius: 25px;
            color: white;
            width: 325px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 1vh;
        }

        .description {
            margin-top: 1vh;
            width: 100%;
        }

        dl {
            width: 100%;
        }

        dt {
            font-weight: bold;
        }

        footer {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }
    </style>
{% endblock %}
{% block content %}
    <div id="nav">
        <a href="{{ url_for('render_history') }}">See Historical Data</a>
    </div>
    <div id="contentContainer">
        <div class="location">
            <div class="headline">
                <h2>Shop</h2>
                <span class="temperature">{{ shop_temp.temperature }}°</span>
            </div>
            <div class="description">
                <dl>
                    <dt>Feels Like</dt>
                    <dd>{{ shop_temp.feels_like }}°</dd>
                    <dt>Humidity</dt>
                    <dd>{{ shop_temp.humidity }}%</dd>
                    <dt>Thermometer Battery</dt>
                    <dd>{{ battery_level }}%</dd>
                </dl>
            </div>
        </div>
        <div class="location">
            <div class="headline">
                <h2>Outside</h2>
                <span class="temperature">{{ weather.temperature }}°</span>
            </div>
            <div class="description">
                <dl>
                    <dt>Feels Like</dt>
                    <dd>{{ weather.feels_like }}°</dd>
                    <dt>Humidity</dt>
                    <dd>{{ weather.humidity }}%</dd>
                    <dt>Weather</dt>
                    <dd>{{ weather.description.title() }}</dd>
                </dl>
            </div>
        </div>
    </div>
{% endblock %}
{% block footer %}
    <div>
        Shop Temp Recorded: {{ shop_temp.formatted_eastern_time }}
    </div>
    <div>
        Current Time: {{ current_time }}
    </div>
{% endblock %}
